# Code Owners
#
# Use this file to define individuals or teams that are responsible for code in a repository.
#
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default
* @fyntex/developers

# Dependencies
/requirements.*
/requirements-*.*
