include HISTORY.rst
include LICENSE
include README.rst
recursive-include cl_sii *py
recursive-include cl_sii/data/ref/factura_electronica/schema_dte *.xsd
recursive-include cl_sii/data/ref/factura_electronica/schema_iecv *.xsd
include cl_sii/py.typed
