include HISTORY.md
include LICENSE
include README.md
recursive-include cl_sii *py
recursive-include cl_sii/data/cte/schemas-json *.schema.json
recursive-include cl_sii/data/ref/factura_electronica/schemas-xml *.xsd
include cl_sii/py.typed
