include HISTORY.md
include LICENSE
include README.md
include src/cl_sii/data/cte/*.json
recursive-include src/cl_sii *py
recursive-include src/cl_sii/data/cte/schemas-json *.schema.json
recursive-include src/cl_sii/data/ref/factura_electronica/schemas-xml *.xsd
include src/cl_sii/py.typed
