# Python Dependency Manifest
#
# Deployment environment: base

# Note: To install a package from a Git VCS repository, see the following example:
#   git+https://github.com/example/example.git@example-vcs-ref#egg=example-pkg[foo,bar]==1.42.3

# note: it is mandatory to register all dependencies of the required packages.

# Required packages:
cryptography==37.0.4
defusedxml==0.6.0
Django>=2.2.24
djangorestframework>=3.10.3,<3.14
jsonschema==3.2.0
lxml==4.9.1
marshmallow==2.21.0
pydantic==1.10.1
pyOpenSSL==18.0.0
pytz==2022.2.1
signxml==2.9.0

# Packages dependencies:
#   - cryptography:
#       - cffi:
#           - pycparser
#   - Django:
#       - pytz
#       - sqlparse
#   - jsonschema:
#       - attrs
#       - importlib-metadata (python_version<'3.8')
#           - zipp
#       - pyrsistent
#       - setuptools
#       - six
#   - pydantic:
#       - typing-extensions
#   - pyOpenSSL:
#       - cryptography
#       - six
#   - signxml:
#       - certifi
#       - cryptography
#       - eight:
#           - future
#       - lxml
#       - pyOpenSSL
attrs==20.3.0
certifi==2022.6.15
cffi==1.15.1
eight==1.0.1
future==0.18.2
importlib-metadata==1.6.0; python_version<'3.8'
pycparser==2.20
pyrsistent==0.17.3
# setuptools
six==1.16.0
# sqlparse
typing-extensions==4.3.0
zipp==3.4.0 ; python_version < "3.8"
