# Python Dependency Manifest
#
# Deployment environment: base

# Note: To install a package from a Git VCS repository, see the following example:
#   git+https://github.com/example/example.git@example-vcs-ref#egg=example-pkg[foo,bar]==1.42.3

backports-zoneinfo==0.2.1 ; python_version < "3.9" # Used by `djangorestframework`.
cryptography==43.0.1
defusedxml==0.7.1
django-filter>=24.2
Django>=2.2.24
djangorestframework>=3.10.3,<3.16
importlib-metadata==8.5.0
jsonschema==4.23.0
lxml==5.3.0
marshmallow==3.22.0
pydantic==2.9.2
pyOpenSSL==24.2.1
pytz==2024.2
signxml==4.0.2
