# Python Dependency Manifest
#
# Deployment environment: base

# Note: To install a package from a Git VCS repository, see the following example:
#   git+https://github.com/example/example.git@example-vcs-ref#egg=example-pkg[foo,bar]==1.42.3

backports-zoneinfo==0.2.1 ; python_version < "3.9" # Used by `djangorestframework`.
cryptography==45.0.7
defusedxml==0.7.1
django-filter>=24.2
Django>=4.2
djangorestframework>=3.10.3,<3.17
importlib-metadata==8.7.0
jsonschema==4.25.0
lxml==6.0.2
marshmallow==4.0.1
pydantic==2.11.7
pyOpenSSL==25.1.0
pytz==2025.2
setuptools==80.9.0
signxml==4.1.0
typing-extensions==4.14.0
