# Python Dependency Manifest
#
# Deployment environment: base

# Note: To install a package from a Git VCS repository, see the following example:
#   git+https://github.com/example/example.git@example-vcs-ref#egg=example-pkg[foo,bar]==1.42.3

cryptography==38.0.3
defusedxml==0.7.1
Django>=2.2.24
djangorestframework>=3.10.3,<3.15
importlib-metadata==1.6.0
jsonschema==4.16.0
lxml==4.9.1
marshmallow==3.19.0
pydantic==1.10.2
pyOpenSSL==22.0.0
pytz==2022.6
signxml==2.10.1
