# Python Dependency Manifest
#
# Deployment environment: development, testing, release

-c requirements.txt

black==22.10.0
bumpversion==0.5.3
codecov==2.1.12
coverage==6.5.0
flake8==4.0.1
isort==5.10.1
mypy==0.982
tox==3.25.1
twine==3.1.1
wheel==0.37.1
