# Python Dependency Manifest
#
# Deployment environment: development, testing, release

-c requirements.txt

black==23.10.1
bumpversion==0.5.3
coverage==7.3.2
flake8==6.1.0
isort==5.12.0
mypy==1.6.1
tox==4.11.3
twine==4.0.2
types-jsonschema==4.19.0.4
types-pyOpenSSL==23.3.0.0
types-pytz==2023.3.1.1
wheel==0.41.3
