name: Dependency Review

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-22.04

    steps:
      - name: Check Out VCS Repository
        uses: actions/checkout@v4.2.2

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.6.0
        with:
          fail-on-severity: critical
